{% extends 'base.html' %}
{% block title %}
    available friends to invite
{% endblock title %}

{% block content %}
    {% if is_empty %}
        <h1>No profile to interact with</h1>
    {% endif %}
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src="{{ obj.avatar.url }}">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user_name }}</h3>
                        <p>{{ obj.bio }}</p>
                        <a href="{{ obj.get_absolute_url }}"><button class="ui primary button mb-5 w-big">See profile</button></a>
                        <br>
                        {% if obj.user_name not in rel_receiver and obj.user_name not in rel_sender %}
                            <form action="{% url 'profiles:send-invite' %}" method="POST">
                                {#  adding to friends  #}
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ obj.pk }}">

                                <button type="submit" class="ui positive basic button mb-5 w-big"><i
                                        class="plus square icon"></i>Add
                                    to friends
                                </button>
                            </form>
                        {% endif %}
                        {% if obj.user_name in rel_receiver and request.user.username not in  obj.friends.all %}
                            <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Waiting for approval
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}