{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <div class="ui grid">
        <div class="six wide column">
            <form  class="signup ui form"  method="post">
                {% csrf_token %}
                <label for="Username">username</label>
                <input type="text"  name="username" placeholder="Enter username">
                <label for="phone">Phone</label>
                <input type="number"  name="phone" placeholder="Enter phone">
                <label for="email">Email</label>
                <input type="email"  name="email" placeholder="Enter email">
                <label for="Password1">Password</label>
                <input type="password"  name="password1" placeholder="Enter Password1">
                <label for="Password2">Confirm Password</label>
                <input type="password"  name="password2" placeholder="Confirm Password">

{#                {% for field in form %}#}
{##}
{#                        {{ field.label_tag }}<br>#}
{#                        {{ field }}#}
{#                        {% for error in field.errors %}#}
{#                            <p style="color: red">{{ error }}</p>#}
{#                        {% endfor %}#}
{##}
{#                {% endfor %}#}

             <br><br><button class="ui button secondary" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
{% endblock %}