body {
    background-color: #f8f8f8 !important;
}

.nav {
    border-radius: 0 !important;
    padding: 10px 0 10px !important;
    background-color: #396afc !important;

}

.mb-7{
    margin-bottom: 7px !important;
}